{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto d-flex justify-content-center">
      <!-- Your content goes here -->
      <form method="POST" action="">

        <div>
          <label for="input-text">Write text to summarize:</label>
          <textarea id="input-text" rows="6" cols="50"></textarea>
        </div>

        <div>
          <button type="submit">Digest</button>
        </div>
        
      </form>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto d-flex justify-content-center">
      <div id="output-area">
        <h1>Output Area</h1>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
